html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    text-align: center;
    height: 250px;
    font-size: 60px;
    background-color: chocolate;
    color: #fff;
}

.main {
    width: 100%;
    text-align: center;
    height: 250px;
    font-size: 60px;
    background-color: firebrick;
    color: #fff;

}

.footer {
    width: 100%;
    text-align: center;
    height: 250px;
    font-size: 60px;
    background-color: darkolivegreen;
    color: #fff;

}